.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.input-wrap {
  width: 50%;
}

.table-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

mat-table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: center !important;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

th.mat-header-cell {
  background-color: #f0f0f0;
}

.action-title {
  max-width: 60px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}
